<!-- Views/Manga/Index.cshtml -->
@model List<Manga>

<div class="container">
    <h1>Manga List</h1>
    <div class="row">
        @foreach (var manga in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="@manga.CoverUrl" class="card-img-top" alt="@manga.Title">
                    <div class="card-body">
                        <h5 class="card-title">@manga.Title</h5>
                        <p class="card-text">@manga.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>